@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
  background-color: #161717;
  color: white;
}
h3{
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 0;
}
.container {
    margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 450px;

}
.buttons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
}
.google-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.google-btn:hover {
  opacity: 0.75;
}
.google-btn picture {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn picture img {
  width: 90%;
}

.google-btn span {
  color: white;
  padding: 15px;
}

.twitter-btn {
  color: #bbb;
  background-color: #eee;
  border: none;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.twitter-btn:hover {
  background-color: #ddd;
}

.separator {
  display: flex;
  width: 100%;
  gap: 15px;
}

.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.separator span {
  color: white;
}

.section-inputs {
  display: flex;
  gap: 5px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label span {
  font-weight: 700;
}
label input {
  width: 100%;
  background-color: #212121;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
label input:hover {
  background-color: #454045;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px pink;
}
label input:focus {
  background-color: #454045;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px pink;
}
.checkbox-label {
  display: flex;
  flex-direction: row;
}
.checkbox-label input[type="checkbox"] {
  width: 20px;
}
.checkbox-label span {
    font-weight: 400;
}
.submit-btn{
    background-color: #EA4C89;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.75;
}

